<h2>Network</h2>

<p-panel>
    <p-header>
        <input type="text" pInputText>
        <button pButton type="button" label="Search" icon="fa-search"></button>
        <button pButton class="menu-button" type="button" label="Options" icon="fa-bars"></button>
    </p-header>

    <div class="network-canvas" [visNetwork]="visNetwork" [visNetworkData]="visNetworkData" [visNetworkOptions]="visNetworkOptions" (initialized)="networkInitialized()"></div>
    <button type="button" class="btn btn-default" (click)="addNode()">Add node</button>
    <p><strong>Note:</strong> Open your dev tools to see the console output when the network receives click events.</p>    
</p-panel>    